.prod-list-header {
  display: flex;
  justify-content: space-between; /* Membuat jarak antara elemen kiri dan kanan */
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
}

.heading-title {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Menempatkan di tengah secara horizontal */
  text-align: center;
}

.home-click-prod-list {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
}

.product-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* grid-cols-2 */
  gap: 20px; /* gap-5 */
  margin-top: 20px; /* mt-5 */
}

.product-image-detail {
  width: 100%;
  border-radius: 8px;
}

.product-info-section {
  display: flex;
  flex-direction: column;
  gap: 24px; /* gap-6 */
  justify-content: center;
}

.product-title-detail {
  font-size: 2.5rem; /* text-4xl */
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.product-price-detail {
  font-weight: bold;
  font-size: 2rem; /* text-3xl */
  margin-bottom: 16px;
}

.product-description {
  font-size: 1.125rem; /* text-lg */
  margin-bottom: 24px;
}

.quantity-selector {
  display: flex;
  gap: 20px; /* gap-5 */
}

.quantity-control {
  display: flex;
  gap: 8px; /* gap-2 */
  align-items: center;
}

.quantity-button {
  background-color: #f3f4f6; /* bg-gray-100 */
  width: 40px; /* w-10 */
  height: 40px;
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
  border-radius: 10px; /* rounded-xl */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.quantity-display {
  background-color: #e5e7eb; /* bg-gray-200 */
  width: 40px; /* w-10 */
  height: 40px;
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-btn {
  background-color: #1e293b; /* bg-slate-900 */
  color: white;
  padding: 12px 28px; /* px-7 py-3 */
  border-radius: 12px; /* rounded-xl */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* shadow-2xl */
  border: none;
}

.add-to-cart-btn:hover {
  background-color: #334155;
}
