.product-header {
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.home-click {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.cart-tab {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
}

.icon-cart-header {
  width: 1.5rem;
}

.cart-tab-total {
  display: flex;
  position: absolute;
  top: 66.666667%;
  right: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #ef4444;
}
